<%- include('header.html') %>

<div class="container">
    <h1 class="center-text">Welcome to My Portfolio</h1>
    <p class="center-parag" style="font-size: 20px;">My name is Cristiano Valder, an ecommerce professional with experience in Database and Process Automation.<br>
      Feel free to browse and ask questions!<br><br></p>
  
    <!-- Mission statement -->
    <div class="mt-4">
      <h2 style="font-size: 30px;">Mission Statement</h2>
      <p class="center-parag" style="font-size: 20px;">
        My mission is to learn at all times, helping customers and peers to grow together.<br>
        I am passionate about creative solutions and eager to be challenged. <br>
      </p>
    </div>
</div>

<%- include('footer.html') %>
