<!--
    header.ejs
    Cristiano Valder
    301289929
    1st October 2023
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= title %></title>
</head>
<div class="site-container"> <!-- This is the border / colour around the pages-->
<body>
    <div class="content-container"> <!-- This is for the solid border limiting the pages size =) -->
    <header>
        <nav class="navbar"> <!-- Menu and logo for all pages -->
            <div class="image-container">
                <img src="/images/logo.png" alt="Cristiano Valder Logo" class="logo">
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
