<!--
    services.ejs
    Cristiano Valder
    301289929
    1st October 2023
 -->


<%- include('partials/header.ejs') %>

<h1 class="center-text"><%= title %></h1>

<div class="project-container">
    <!-- Service 1 -->
    <div class="project">
        <h2>General Programming</h2>
        <img src="images/service1.png" alt="Service 1 Image" class="img-fluid">
        <p>
            Offering general programming services to meet your specific needs.
        </p>
    </div>

    <!-- Service 2 -->
    <div class="project">
        <h2>Web Development</h2>
        <img src="images/service2.png" alt="Service 2 Image" class="img-fluid">
        <p>
            Specializing in web development, including front-end and back-end solutions.
        </p>
    </div>

    <!-- Service 3 -->
    <div class="project">
        <h2>Databases and Business Tech Solutions</h2>
        <img src="images/service3.png" alt="Service 3 Image" class="img-fluid">
        <p>
            Specialised in databases, I can help your business work smarter and improve performance through data analysis.
        </p>
    </div>
</div>

<%- include('partials/footer.ejs') %>
